.score {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.buttonImages {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.buttonImages button {
  border: none;
  background-color: white;
}

button img {
  max-width: 50%;
  cursor: pointer;
}
