h1 {
  text-align: center;
  font-size: 10vw;
}

.scoreBoard {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

.score {
  padding: 20px;
  border: 1px solid lightslategray;
  border-radius: 5px;
}

h2 {
  font-size: 6vw;
}

.buttonImages {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.buttonImages button {
  border: none;
  background-color: white;
}

button img {
  max-width: 70%;
  cursor: pointer;
}
